.about{
 width: 100%;
 padding: 35px 25px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

.about h1{
 font-family: sans-serif;
 color: #108885;
}

.about p{
 line-height: 1.5;
 margin-top: 15px;
 font-family: sans-serif;
 font-weight: 500;
 color: black;
}

.about .link{
 width: fit-content;
 text-decoration: none;
 margin-top: 15px;
 font-size: 20px;
 color: #108885;
}

.link-icon{
 position: relative;
 top: 2px;
}