*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left{
  flex: 0.9;
}

.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 20px;
}

.app__header > h1{
  font-size: 2rem;
  color: #cc1034;
  text-transform: uppercase;
}

.app__dropdown{
  background-color: #fff;
  z-index: 5;
}

.app__stats{
  display: flex;
  justify-content: space-evenly;
}

.app_right{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.app_right h3{
  font-weight: 700;
  color: #4d6981;
}

.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
}

.app__graph{
  height: 300px;
}

.chartjs-render-monitor{
  height: 100%;
}

.app__graphTitle{
  margin: 15px 0;
  margin-top: 20px;
}

@media screen and (max-width : 990px) {
  .app{
    flex-direction:column ;
  }

  .app_right{
    margin-top: 20px;
  }
}

@media  screen and (max-width : 564px) {

  .app__header{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .app__header h1{
    text-align: center;
  }

  .app__stats{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .infoBox{
    width: 100%;
    margin: 0 ;
    margin-bottom: 15px;
  }

}