.infoBox{
 flex: 1;
 cursor: pointer;
}

.infoBox--selected{
 border-top: 10px solid green;
}

.infoBox--selected.infoBox--red{
 border-color: #cc1034;
}

.infoBox{
 margin-right: 10px
} 

.infoBox__cases{
 color: #cc1034;
 font-weight: 600;
 font-size: 1.75rem;
 margin-bottom: 0.5rem;
}

.infoBox__cases--green{
 color: green;
}

.infoBox__total{
 color: #4d6981;
 font-weight: 700 !important;
 font-size: 0.8rem !important;
 margin-top: 15px 0.5rem !important;
}


@media  screen and (max-width : 564px) {
 .infoBox{
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0px;
  }
}